<h3>New cocktail</h3>

<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name, input_html: { autocomplete: 'off' } %>
  <%= link_to 'Cancel', cocktails_path, class: 'btn btn-outline-secondary' %>
  <%= f.input :photo, as: :file %>
  <%= f.submit class: 'btn btn-success' %>
<% end %>
