<div class="card">
  <h2>Add ingredient to</h2>
  <h2><%= @cocktail.name %></h2>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient, collection: Ingredient.ordered %>
    <%= f.submit class: 'btn btn-success' %>
  <% end %>
</div>

